// $success: rgba(0, 255, 42, 0.13);
// $error: rgba(255, 0, 0, 0.212);
// $default: white;
.form {
    background-color: white;
    border:  solid #0062cc;
    border-radius: 25px;
    font-size: 20px;
    padding: 40px 35px;
    width: 60%; 
    max-width: 800px;
    &-btn {
        padding: 10px 20%;
    }
}
