.container {
    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__table {
        &-row {
            &-text {
                text-align: left;
            }

            &-action {
                text-align: center;
            }
        }
    }
}
